* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SF Pro KR, SF Pro Display, SF Pro Icons, AOS Icons, Apple Gothic, HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  padding-top: 6em;
}

/*헤더 이미지*/
#header img {
  width: 200px;
  height: 50px;
  margin-top: 20px;
}
#header {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: #fff;
  cursor: default;
  height: 6em;
  left: 0;
  line-height: 6em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
  text-align: center;
}

#header nav {
      position: absolute;
      top: 0;
      height: inherit;
      line-height: inherit;
  }

#header nav.left {
      left: 2em;
   }

#header nav.right {
        right: 2em;
      }

#header nav .button {
        padding: 0 2em;
        height: 3.25em;
        line-height: 3.25em;
      }

#header nav a {
        text-decoration: none;
          display: inline-block;
      }

@media screen and (max-width: 980px) {
  body {
      padding-top: 44px;
  }

  #header {
      height: 44px;
      line-height: 44px;
  }   
}

@media screen and (max-width: 480px) {

  #header {
      min-width: 320px;
  }
}

#header a{
  color: black;
  font-weight: 700;
}

#header a:hover{
  color: white;
  background-color: black;
}


/*헤더 검색바*/
#header .searchbar{
  margin-left: 20px;
}

#header .search-form{
  display: inline-block;
  margin-left: 20px;
}
#header button{
  background-color: white;
  border: white;
  height: 40px;
  width: 50px;
  background-color: black;
  color: white;
  font-size: 1rem;
}
#header button:hover{
  color: black;
  background-color: white;
  cursor: pointer;
}

#header input{
  border: black;
  width: 200px;
  border-bottom: black solid 1px;
  border-radius: 0;
  font-size: 1rem;
  text-align: center;
  height: 34px;
}


/*메인화면 사진 */
  .main-view{
      margin:  auto;
      margin-bottom: 20px;
      margin-top: 50px;
    text-align: center;
}


/*카테고리 설정*/
.menu{
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  text-align:center;
}
.menu li{
  display:inline;
  text-align:center;
  
}
.menu a{
    display:inline-block;
    padding:20px;
    text-decoration: none;
    color: black;
    text-align:center;
    font-weight: 700;
    width: 150px;

}

.menu a:hover{
    background-color: black;
    color: white;

}

/*contents영역*/


.product{
    display: inline-block;
    padding-left: 100px;    
}
.product {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
   min-width: 230px;
    max-width: 300px;
    width: 100%;
    color: #000000;
    text-align: left;
    font-size: 16px;
    background-color: #fff;
  }
  
  .product * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }
  
  .product img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
  }
  
  .product figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .product h3,
  .product h5 {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px;
  }
  
  .product h3 {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    text-transform: uppercase;
    font-weight: 400;
  }
  
  .product h5 {
    font-weight: normal;
    font-style: italic;
    color: #888;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  
  .product a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.product > img{
    text-align: center;

}
.product:hover > img,
.product.hover > img {
    opacity: 0.1;
  }
  
  .product:hover h3,
  .product.hover h3,
  .product:hover h5,
  .product.hover h5 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  
#product {
    border: 1px solid white;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.product > img{
    display: inline-block;
    margin-left: 25px;
}

#detail{
    text-align: center;
    width: 250px;
    text-align: center;
    font-weight: 500;
    font-size: large;
}



/*footer*/
.list-box {
    font-size: small;
}

.help-box {
    font-size: 20px;
    height: 100px;
    width: 800px;
    margin: 0 auto;
    line-height: 100px;
}

li {
    list-style: none;
}

.footer-list {
    padding: 20px;
    margin-top: 50px;
    color: white;
    background-color:black;
}
.list-box  a{
    color: white;
}
.list-box-hr {
    margin: 10px 0px 10px 0;

}

.ul-align {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}